h1 Hi

body

.foo
  p FOO When you click here, BAR will disappear

.bar
 p BAR This will disappear when you click FOO

.baz
 p BAZ When you click this, BAR will appear

a.page-cat href="cat"
  p Cat

a.pineapple-launcher href="#"
  p Click here to get a modal with a pineapple



.pineapple-background
.pineapple-content
  p 🍍
  .pineapple-close
    p Close pineapple


button.btn.btn-primary data-toggle="modal" data-target="#get-real-modal-thanks-bootstrap"
  Launch Launch the 🍍!

#get-real-modal-thanks-bootstrap.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close
        p 🍍🍍🍍
