.pineapple-background {
    display: none;
}

.pineapple-content {
    display: none;
}

.pineapple-background.active {
  display: block;
  background-color: black;
  opacity: .7;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.pineapple-content.active {
  display: block;
  position: absolute;
  background-color: white;
  padding: 10px;
  left: 20%;
  top: 20%;
  position: absolute;
  z-index: 1;
}

#real-modal-thanks-bootstrap {
  display: none;
}
